<br>
<div class="row">
  <div class="col-md-4">
    <h1>Explore</h1>
  </div>
  <div class="offset-md-6 col-md-1">
    <%= link_to "Make my own challenge", new_challenge_path, class: 'btn btn-success'%>
  </div>
</div>

<% @challenges.each do |challenge| %>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <% if challenge.participations.present? %>
        <%= challenge.participations.count %>
      <% else %>
        0
      <% end %>
      playing /
      <%= distance_of_time_in_words(challenge.closing_date, DateTime.now) %> left.
    </div>
    <img class="card-img-top" src="<%= challenge.picture.url %>" alt="Challenge picture">
    <div class="card-body">
      <h5 class="card-title"><%= challenge.title %></h5>
      <p class="card-text"><%= challenge.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <% challenge.parties.each do |party| %>
      <li class="list-group-item"><%= party.description %></li>
      <% end %>
    </ul>
  </div>
<% end %>
