<!DOCTYPE html>
<html>
  <head>
    <title>ProjectCuprite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div id="notices">
      <% if notice.present? %>
        <p class="alert alert-success" role="alert" id="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger" role="alert" id="alert"><%= alert %></p>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
